@model SIP.Models.DataSubjek

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DataSubjek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSubjek" />
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rtrw" class="control-label">Rt/Rw</label>
                <input asp-for="Rtrw" class="form-control" />
                <span asp-validation-for="Rtrw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndProvinsiId" class="control-label">Provinsi</label>
                <input asp-for="IndProvinsiId" class="form-control" />
                <span asp-validation-for="IndProvinsiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndKabKotaId" class="control-label">Kabupaten/Kota</label>
                <input asp-for="IndKabKotaId" class="form-control" />
                <span asp-validation-for="IndKabKotaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndKecamatanId" class="control-label">Kecamatan/Distrik</label>
                <input asp-for="IndKecamatanId" class="form-control" />
                <span asp-validation-for="IndKecamatanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndKelurahanId" class="control-label">Kelurahan/Desa</label>
                <input asp-for="IndKelurahanId" class="form-control" />
                <span asp-validation-for="IndKelurahanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoTelp" class="control-label">Nomor/Telepon</label>
                <input asp-for="NoTelp" class="form-control" />
                <span asp-validation-for="NoTelp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodePos" class="control-label">Kode Pos</label>
                <input asp-for="KodePos" class="form-control" />
                <span asp-validation-for="KodePos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nik" class="control-label"></label>
                <input asp-for="Nik" class="form-control" />
                <span asp-validation-for="Nik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Npwp" class="control-label"></label>
                <input asp-for="Npwp" class="form-control" />
                <span asp-validation-for="Npwp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelamin" class="control-label"></label>
                <input asp-for="Kelamin" class="form-control" />
                <span asp-validation-for="Kelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TglLahir" class="control-label">Tanggal Lahir</label>
                <input asp-for="TglLahir" class="form-control" />
                <span asp-validation-for="TglLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPekerjaan" class="control-label">Pekerjaan</label>
                <input asp-for="IdPekerjaan" class="form-control" />
                <span asp-validation-for="IdPekerjaan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PekerjaanLain" class="control-label">Pekerjaan Lain</label>
                <input asp-for="PekerjaanLain" class="form-control" />
                <span asp-validation-for="PekerjaanLain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaInstansi" class="control-label">Nama Instansi</label>
                <input asp-for="NamaInstansi" class="form-control" />
                <span asp-validation-for="NamaInstansi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBadanHukum" class="control-label">Badan Hukum</label>
                <input asp-for="IdBadanHukum" class="form-control" />
                <span asp-validation-for="IdBadanHukum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TglDaftar" class="control-label">Tanggal Daftar</label>
                <input asp-for="TglDaftar" class="form-control" />
                <span asp-validation-for="TglDaftar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoPokok" class="control-label">Nomor Pokok</label>
                <input asp-for="NoPokok" class="form-control" />
                <span asp-validation-for="NoPokok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Npwpd" class="control-label"></label>
                <input asp-for="Npwpd" class="form-control" />
                <span asp-validation-for="Npwpd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Npwrd" class="control-label"></label>
                <input asp-for="Npwrd" class="form-control" />
                <span asp-validation-for="Npwrd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Eu" class="control-label"></label>
                <input asp-for="Eu" class="form-control" />
                <span asp-validation-for="Eu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ed" class="control-label"></label>
                <input asp-for="Ed" class="form-control" />
                <span asp-validation-for="Ed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
