@model SIP.Models.PRestoran

@{
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form id="sptpd" asp-action="SPTPD"></form>
<form id="restoran" action="/PajakRestoran/AddDetail/@Model.IdRestoran" method="post"></form>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <input type="hidden" asp-for="IdSptpd" form="sptpd" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @await Component.InvokeAsync("FormSPTPD", new { id = Model.IdSptpd })
                <div class="row kt-margin-t-10 kt-padding-b-0">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Data Pendukung</label>
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox">
                                    <input asp-for="KasRegister" form="sptpd" /> Kas Register
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input asp-for="Pembukuan" form="sptpd" /> Pembukuan
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--space-sm"></div>
                <div class="row kt-margin-t-10">
                    <div class="col-lg-12">
                        <div class="kt-section kt-section--first">
                            <h3 class="kt-section__title">Omzet Restoran:</h3>
                            <div class="kt-section__body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" for="IdRef" form="restoran">Jenis Omzet</label>
                                            <select class="form-control kt-selectpicker" id="IdRef" name="IdRef" data-size="5" title="Pilih Layanan..." asp-items="ViewBag.Layanan" required form="restoran"></select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="IdRef" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Jumlah" form="restoran">Omzet</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                                <input type="text" name="Jumlah" id="Jumlah" class="form-control rupiah" autocomplete="off" required form="restoran" />
                                                <span class="text-danger field-validation-valid" data-valmsg-for="Jumlah" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group kt-align-right kt-margin-t-30-desktop kt-margin-t-25-tablet">
                                            <button type="submit" class="btn btn-success btn-sm" form="restoran">Input</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <table id="tbl_restoran" class="table table-hover table-responsive-sm">
                                            <thead>
                                                <tr>
                                                    <th width="5%">No</th>
                                                    <th>Jenis</th>
                                                    <th style="text-align:right">Omzet</th>
                                                    <th nowrap style="width: 10%"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a href="/SPTPD/@Model.IdSptpd" class="btn btn-secondary">Kembali</a>
                    <button type="submit" class="btn btn-primary" form="sptpd">Simpan</button>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="modal fade" id="RemoveModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="kt-widget kt-widget--user-profile-4">
                    <div class="kt-widget__head">
                        <div class="kt-widget__media">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px" viewBox="0 0 24 24" version="1.1" class="kt-widget__img">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#e83e8c" opacity="0.3" cx="12" cy="12" r="10" />
                                    <rect fill="#dc3545" x="11" y="7" width="2" height="8" rx="1" />
                                    <rect fill="#dc3545" x="11" y="16" width="2" height="2" rx="1" />
                                </g>
                            </svg>
                        </div>
                        <div class="kt-widget__content">
                            <div class="kt-widget__section">
                                <span class="kt-widget__username">
                                    Hapus Data ini?
                                </span>
                                <div class="kt-widget__action">
                                    <button class="btn btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="DeleteBtn" class="btn btn-danger">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/spt.js"></script>
    <script src="~/js/rupiah.mask.js"></script>
    <script>
        function rupiah(a, currency) {
            return currency + a.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        }

        Load_Detail();

        function ResetRestoran() {
            $("#IdRef").val('default').selectpicker("refresh");
            document.getElementById("restoran").reset();
        }

        $('#restoran').submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        Load_Detail();
                        ResetRestoran();
                        toastr.success("Data berhasil disimpan!");
                    } else {
                        if (result.exist) {
                            ResetRestoran();
                            toastr.error("Error! " + result.uraian + " sudah diinput!");
                        }
                        else {
                            toastr.error("Error! Terjadi kesalahan!");
                        }
                    }
                }
            });
            return false;
        });

        function Load_Detail() {
            $("#tbl_restoran tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '/PajakRestoran/GetDetail',
                dataType: 'json',
                data: { id: "@Model.IdRestoran" },
                success: function (data) {
                    var subtotal = 0;
                    var no = 0;
                    $.each(data, function (i, item) {
                        no += 1;
                        subtotal += item.jumlah;
                        var rows= "<tr>"
                            + "<td>" + no + "</td>"
                            + "<td>" + item.jenis + "</td>"
                            + '<td align="right">' + (rupiah(item.jumlah, 'Rp. ')) + "</td>"
                            + '<td align="right"><a href="javascript:;" onclick="HapusDetail(' + "'" + item.id + "'" + ')" ><span class="kt-badge kt-badge--danger">x</span></a></td>'
                            + "</tr>";
                        $('#tbl_restoran tbody').append(rows);
                    });
                    if (no > 0) {
                        $("#tbl_restoran").removeClass("kt-hidden");
                        var rows = '<tr><td></td><td></td><td align="right" class="kt-font-bold">' + (rupiah(subtotal, 'Rp. ')) + "</td><td></td></tr>";
                        $('#tbl_restoran tbody').append(rows);
                    }
                    else {
                        $("#tbl_restoran").addClass("kt-hidden");
                    }
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        }

        // DELETE DETAIL
        function HapusDetail(id) {
            $("#RemoveModal").modal();
            $("#DeleteBtn").attr("onclick", "RemoveDetail(" + "'" + id + "'" + ")");
        };

        // HAPUS DETAIL
        function RemoveDetail(id) {
            $.ajax({
                type: "POST",
                url: '/PajakRestoran/RemoveDetail',
                dataType: 'json',
                data: { id : id },
                success: function (data) {
                    $('.modal').modal('hide');
                    Load_Detail();
                    toastr.success("Data berhasil dihapus!");
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        };

    </script>
}
