<div class="modal-body">
    <div class="kt-widget kt-widget--user-profile-4">
        <div class="kt-widget__head">
            <div class="kt-widget__media">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px" viewBox="0 0 24 24" version="1.1" class="kt-widget__img">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <circle fill="#e83e8c" opacity="0.3" cx="12" cy="12" r="10" />
                        <rect fill="#dc3545" x="11" y="7" width="2" height="8" rx="1" />
                        <rect fill="#dc3545" x="11" y="16" width="2" height="2" rx="1" />
                    </g>
                </svg>
            </div>
            <div class="kt-widget__content">
                <div class="kt-widget__section">
                    <span class="kt-widget__username">
                        Data tidak dapat dihapus
                    </span>
                    <div class="kt-widget__action">
                        <button class="btn btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>