<!-- begin:: Footer -->
    <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-footer__copyright">
                @DateTime.Now.Year &nbsp;&copy;&nbsp;<span class="kt-link">NUNA - Net Core Web Application</span>
            </div>
            @*<div class="kt-footer__menu">
                <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
                <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
            </div>*@
        </div>
    </div>
<!-- end:: Footer -->