<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--begin::Fonts -->
    <script>
        if (performance.navigation.type == 2) {
            location.reload(true);
        }
    </script>
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles -->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles -->
    <link href="~/lib/fonts/base-fonts.css" rel="stylesheet">
    <link href="~/lib/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins -->
    <link href="~/css/base/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/css/base/skins/header/menu/dark.css" rel="stylesheet" type="text/css" /> -->
    <link href="~/css/base/skins/brand/light.css" rel="stylesheet" type="text/css" />
    <link href="~/css/base/skins/aside/light.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <!--begin::Page Style -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vendors/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Style -->
    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/media/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/media/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/media/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/media/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/media/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/media/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/media/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/media/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/media/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/media/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/media/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/media/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->

    @RenderSection("Style", required: false)
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading kt-aside--minimize">

    <div class="container">
        @RenderBody()
    </div>

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle -->
    <script src="~/lib/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/js/base/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/lib/vendors/datatables/datatables.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="~/js/modals.js" type="text/javascript"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
    @RenderSection("Scripts", required: false)

</body>
</html>
