<div class="row justify-content-center">
    <div class="col-xl-10">
        <div class="alert alert-secondary show">
            <div class="alert-text">
                <a href="javascript();" class="kt-font-hover-brand">Home <i class="fa fa-caret-right kt-font-instagram nav-icon"></i></a>
                <a href="javascript();" class="kt-font-hover-brand">Laptop <i class="fa fa-caret-right kt-font-instagram nav-icon"></i></a>
                <a href="javascript();" class="kt-font-hover-brand">Business <i class="fa fa-caret-right kt-font-instagram nav-icon"></i></a>
                <a href="javascript();" class="kt-font-hover-brand">Asus VivoBook S14</a>
            </div>
        </div>
    </div>
</div>