<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <partial name="_topbar-search" />
    <partial name="_topbar-notifications" />
    @*<partial name="_topbar-quick-actions" />*@
    <partial name="_topbar-my-cart" />
    @*<partial name="_topbar-quick-panel" />*@
    <partial name="_topbar-user" />
</div>
<!-- end:: Header Topbar -->