<!--begin: Quick panel toggler -->
<div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-toggle="kt-tooltip" title="Quick panel" data-placement="right">
    <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn"><i class="flaticon-grid-menu"></i> </span>
</div>
<!--end: Quick panel toggler -->