<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <partial name="_topbar-search" />
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper">
            <div class="btn-login">
                <a asp-controller="Account" asp-action="Register" class="btn btn-sm btn-light btn-bold kt-margin-r-10">Daftar</a>
                <a medium-modal asp-controller="Account" asp-action="Login" class="btn btn-sm btn-clean btn-bold">Login</a>
            </div>
        </div>
    </div>
</div>
<!-- end:: Header Topbar -->