@model SIP.Models.Sptpd

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Kewajiban @ViewBag.Jenis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="IdCoa" class="control-label required">Jenis</label>
                <select asp-for="IdCoa" class="form-control kt-selectpicker" required data-size="6" title="Pilih Kewajiban..." data-live-search="true" asp-items="ViewBag.IdCoa"></select>
                <span asp-validation-for="IdCoa" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>