@model NUNA.ViewModels.Account.RegistrationResultDto

<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="alert alert-solid-brand" role="alert">
            <div class="alert-icon"><i class="flaticon2-checkmark"></i></div>
            <div class="alert-text">Regitrasi berhasil. Email verifikasi telah dikirimkan melalui email. Tidak menerima email? <a asp-action="Resend" class="btn-link kt-font-bolder">Kirim Ulang</a></div>
        </div>
    </div>
</div>