@model SIP.Models.RefBadanHukum

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Data Badan Hukum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="FlagAktif" value="true" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="frow">
            <div class="col-md-12 orm-group">
                <label asp-for="BadanHukum" class="control-label required">Badan Hukum</label>
                <input asp-for="BadanHukum" class="form-control" required autofocus />
                <span asp-validation-for="BadanHukum" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>