@model SIP.Models.SsrdrDt

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Detail SSRDR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="IdTarif" class="control-label">Jenis</label>
                <select asp-for="IdTarif" class="form-control kt-selectpicker" title="Pilih Jenis..." required asp-items="ViewBag.IdTarif"></select>
                <span asp-validation-for="IdTarif" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Jumlah" class="control-label required"></label>
                <div class="input-group">
                    <input asp-for="Jumlah" class="form-control" autocomplete="off" min="1" required />
                    <div class="input-group-append"><span class="input-group-text"><i class="normal-font" id="satuan">Satuan</i></span></div>
                </div>
                <span asp-validation-for="Jumlah" class="text-danger"></span>
            </div>
        </div>
        <div class=" row">
            <div class="col-md-6 form-group">
                <label asp-for="Nomor1" class="control-label required">Nomor 1</label>
                <input asp-for="Nomor1" class="form-control" type="text" autocomplete="off" required />
                <span asp-validation-for="Nomor1" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Nomor2" class="control-label required">Nomor 2</label>
                <input asp-for="Nomor2" class="form-control" type="text" autocomplete="off" required />
                <span asp-validation-for="Nomor2" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>


