@model SIP.Models.RefHargaKwh

<form asp-action="Edit">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Ubah Data Harga Kwh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdRef" />
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Tarif" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Tarif" class="form-control rupiah" autocomplete="off" value="@String.Format("{0:N0}", Model.Tarif)" required />
                </div>
                <span asp-validation-for="Tarif" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="TanggalBerlaku" class="control-label">Tanggal</label>
                <input asp-for="TanggalBerlaku" class="form-control datefield" type="text" asp-format="{0:dd-MM-yyyy}" autocomplete="off" required />
                <span asp-validation-for="TanggalBerlaku" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="FlagAktif" class="control-label">Status</label>
                <div class="kt-checkbox-inline">
                    <label class="kt-checkbox">
                        <input class="check" asp-for="FlagAktif" /> <p id="@Html.DisplayNameFor(model => model.FlagAktif)_Status">@(Model.FlagAktif ? "Aktif" : "Tidak Aktif")</p>
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>