@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Change Password</h3>
                    </div>
                </div>
                <form class="kt-form kt-form--label-right" id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Input.OldPassword">Old Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <input class="form-control" type="password" asp-for="Input.OldPassword">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="Btn_OldPassword" onclick="display('OldPassword');">show</button>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Input.NewPassword">New Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <input class="form-control" type="password" asp-for="Input.NewPassword">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="Btn_NewPassword" onclick="display('NewPassword');">show</button>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group">
                                            <input class="form-control" type="password" asp-for="Input.ConfirmPassword">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="Btn_ConfirmPassword" onclick="display('ConfirmPassword');">show</button>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-align-right">
                            <button type="submit" class="btn btn-success">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--End:: App Content-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function display(id) {
            var x = document.getElementById("Input_" + id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            var o = document.getElementById("Btn_" + id);
            if (o.innerHTML === "show") {
                o.innerHTML = "hide";
            }
            else {
                o.innerHTML = "show";
            }
        }
    </script>
}