@model SIP.Models.Sptpd

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label required"></label>
                @if (Model.Tanggal != null)
                {
                    <input asp-for="Tanggal" class="form-control datefield" type="text" asp-format="{0:dd-MM-yyyy}" autocomplete="off" required />
                }
                else
                {
                    <input asp-for="Tanggal" class="form-control datefield" type="text" asp-format="{0:dd-MM-yyyy}" value="@string.Format("{0:dd-MM-yyyy}", DateTime.Now)" autocomplete="off" required />
                }
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
        </div>
        @if (ViewBag.MasaPajak != null)
        {
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label required">Masa Pajak</label>
                    <select class="form-control kt-selectpicker" id="Bulan" data-size="6" required title="Pilih Bulan..." asp-items="ViewBag.MasaPajak"></select>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label required">Masa Pajak</label>
                    <select class="form-control kt-selectpicker" id="Tahun" data-size="6" required title="Pilih Tahun..." asp-items="ViewBag.Tahun"></select>
                </div>
            </div>
        }
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="MasaPajak1" class="control-label required">Tanggal Masa Pajak</label>
                <div class="input-group">
                    <input asp-for="MasaPajak1" class="form-control datefield" type="text" asp-format="{0:dd-MM-yyyy}" autocomplete="off" required />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                    </div>
                    <input asp-for="MasaPajak2" class="form-control datefield" type="text" asp-format="{0:dd-MM-yyyy}" autocomplete="off" required />
                </div>
            </div>
        </div>
    </div>
<div class="kt-separator kt-separator--space-sm"></div>