@model SIP.Models.Nsr

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Data NSR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="FlagAktif" value="true" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12  ">
                <label asp-for="Lokasi" class="control-label"></label>
                <input asp-for="Lokasi" class="form-control" required />
                <span asp-validation-for="Lokasi" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label asp-for="Ukuran" class="control-label"></label>
                <input asp-for="Ukuran" class="form-control" required />
                <span asp-validation-for="Ukuran" class="text-danger"></span>
            </div>
            <div class="col-md-8 form-group">
                <label asp-for="SatuanUkuran" class="control-label">Satuan Ukuran</label>
                <input asp-for="SatuanUkuran" class="form-control" required />
                <span asp-validation-for="SatuanUkuran" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label asp-for="Waktu" class="control-label"></label>
                <input asp-for="Waktu" class="form-control" required />
                <span asp-validation-for="Waktu" class="text-danger"></span>
            </div>
            <div class="col-md-8 form-group">
                <label asp-for="SatuanWaktu" class="control-label">Satuan Waktu</label>
                <input asp-for="SatuanWaktu" class="form-control" required />
                <span asp-validation-for="SatuanWaktu" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="NsrProduk" class="control-label">Nsr Produk</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="NsrProduk" class="form-control rupiah" autocomplete="off" required autofocus />
                </div>
                <span asp-validation-for="NsrProduk" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NsrNonProduk" class="control-label">Nsr Non Produk</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="NsrNonProduk" class="form-control rupiah" autocomplete="off" required autofocus />
                </div>
                <span asp-validation-for="NsrNonProduk" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>