@model SIP.Models.NsrNjop

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Data NSR NJOP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="IdCoa" class="control-label">Uraian</label>
                <select asp-for="IdCoa" class="form-control kt-selectpicker" asp-items="ViewBag.IdCoa"></select>
                <span asp-validation-for="IdCoa" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label asp-for="Jenis" class="control-label"></label>
                <input asp-for="Jenis" class="form-control" required />
                <span asp-validation-for="Jenis" class="text-danger"></span>
            </div>
            <div class="col-md-8 form-group">
                <label asp-for="SubJenis" class="control-label"></label>
                <input asp-for="SubJenis" class="form-control" />
                <span asp-validation-for="SubJenis" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Njop" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Njop" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="Njop" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Strategis1" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Strategis1" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="Strategis1" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NonStrategis1" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="NonStrategis1" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="NonStrategis1" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Strategis2" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Strategis2" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="Strategis2" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NonStrategis2" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="NonStrategis2" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="NonStrategis2" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Strategis3" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Strategis3" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="Strategis3" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NonStrategis3" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="NonStrategis3" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="NonStrategis3" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label asp-for="Satuan" class="control-label"></label>
                <input asp-for="Satuan" class="form-control" required />
                <span asp-validation-for="Satuan" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>