@model SIP.Models.TarifRetribusi

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Tarif Retribusi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="FlagAktif" value="true" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="IdCoa" class="control-label">Jenis</label>
                <select asp-for="IdCoa" class="form-control kt-selectpicker" title="Pilih Jenis..." required asp-items="ViewBag.IdCoa" data-size="6" data-live-search="true"></select>
                <span asp-validation-for="IdCoa" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Objek" class="control-label">Objek</label>
                <input asp-for="Objek" class="form-control" required />
                <span asp-validation-for="Objek" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Var1" class="control-label">Variabel 1</label>
                <input asp-for="Var1" class="form-control" />
                <span asp-validation-for="Var1" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Satuan1" class="control-label">Satuan</label>
                <input asp-for="Satuan1" class="form-control" />
                <span asp-validation-for="Satuan1" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Var2" class="control-label">Variabel 2</label>
                <input asp-for="Var2" class="form-control" />
                <span asp-validation-for="Var2" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Satuan2" class="control-label">Satuan</label>
                <input asp-for="Satuan2" class="form-control" />
                <span asp-validation-for="Satuan2" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Tarif" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Tarif" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="Tarif" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>