@model SIP.Models.Lra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCoa" class="control-label"></label>
                <select asp-for="IdCoa" class ="form-control" asp-items="ViewBag.IdCoa"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tahun" class="control-label"></label>
                <input asp-for="Tahun" class="form-control" />
                <span asp-validation-for="Tahun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anggaran" class="control-label"></label>
                <input asp-for="Anggaran" class="form-control" />
                <span asp-validation-for="Anggaran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aperubahan" class="control-label"></label>
                <input asp-for="Aperubahan" class="form-control" />
                <span asp-validation-for="Aperubahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afinal" class="control-label"></label>
                <input asp-for="Afinal" class="form-control" />
                <span asp-validation-for="Afinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Realisasi" class="control-label"></label>
                <input asp-for="Realisasi" class="form-control" />
                <span asp-validation-for="Realisasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Januari" class="control-label"></label>
                <input asp-for="Januari" class="form-control" />
                <span asp-validation-for="Januari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Februari" class="control-label"></label>
                <input asp-for="Februari" class="form-control" />
                <span asp-validation-for="Februari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maret" class="control-label"></label>
                <input asp-for="Maret" class="form-control" />
                <span asp-validation-for="Maret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="April" class="control-label"></label>
                <input asp-for="April" class="form-control" />
                <span asp-validation-for="April" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mei" class="control-label"></label>
                <input asp-for="Mei" class="form-control" />
                <span asp-validation-for="Mei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juni" class="control-label"></label>
                <input asp-for="Juni" class="form-control" />
                <span asp-validation-for="Juni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juli" class="control-label"></label>
                <input asp-for="Juli" class="form-control" />
                <span asp-validation-for="Juli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agustus" class="control-label"></label>
                <input asp-for="Agustus" class="form-control" />
                <span asp-validation-for="Agustus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="September" class="control-label"></label>
                <input asp-for="September" class="form-control" />
                <span asp-validation-for="September" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oktober" class="control-label"></label>
                <input asp-for="Oktober" class="form-control" />
                <span asp-validation-for="Oktober" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="November" class="control-label"></label>
                <input asp-for="November" class="form-control" />
                <span asp-validation-for="November" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desember" class="control-label"></label>
                <input asp-for="Desember" class="form-control" />
                <span asp-validation-for="Desember" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

