/*ACCESS DENIED*/
.kt-error-v4 {
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 700px;
    background-image: url(/../media/error/Access.jpg);
}
.kt-error-v4 .kt-error_container .kt-error_number {
    font-size: 7rem;
    margin-left: 14.3rem;
    margin-top: 15.4rem;
    font-weight: 700;
    padding-bottom: 25px;
    color: #75a3e1;
}
.kt-error-v4 .kt-error_container .kt-error_title {
    margin: -70px 0 0 14.3rem;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #64c7da;
}
.kt-error-v4 .kt-error_container .kt-error_description {
    margin-left: 15rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-error-v4 .kt-error_container .kt-error_number {
        font-size: 5rem;
        padding-bottom: 5px;
        margin-left: 7rem;
        margin-top: 8rem;
        font-weight: 700;
    }

    .kt-error-v4 .kt-error_container .kt-error_title {
        margin: -40px 0 2% 7rem;
        font-size: 2rem;
        padding-bottom: 0px;
        font-weight: 700;
    }

    .kt-error-v4 .kt-error_container .kt-error_description {
        margin-left: 15rem;
    }
}

@media (max-width: 768px) {
    .kt-error-v4 {
        background-position: center;
        background-color: white;
        background-size: 400px;
    }

    .kt-error-v4 .kt-error_container {
        text-align: center;
    }

    .kt-error-v4 .kt-error_container .kt-error_number {
        font-size: 5rem;
        padding-bottom: 0px;
        margin: 4rem auto 0 auto;
    }

    .kt-error-v4 .kt-error_container .kt-error_title {
        margin: 0.2rem auto;
        text-align: center;
        padding-bottom: 300px;
        padding-top: 0;
        font-size: 2rem;
    }

    .kt-error-v4 .kt-error_container .kt-error_description {
        margin-left: 0rem;
        margin-top: 10rem;
    }
}

/*404*/

.kt-error-v4-2 {
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 700px;
    background-image: url(/../media/error/404.jpg);
}

    .kt-error-v4-2 .kt-error_container .kt-error_number {
        font-size: 7rem;
        margin-left: 14.3rem;
        margin-top: 15.4rem;
        font-weight: 700;
        padding-bottom: 25px;
        color: #75a3e1;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_title {
        margin: -70px 0 0 14.3rem;
        font-size: 5rem;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 15px;
        color: #64c7da;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_description {
        margin-left: 15rem;
    }

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-error-v4-2 .kt-error_container .kt-error_number {
        font-size: 5rem;
        padding-bottom: 5px;
        margin-left: 7rem;
        margin-top: 8rem;
        font-weight: 700;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_title {
        margin: -40px 0 2% 7rem;
        font-size: 2rem;
        padding-bottom: 0px;
        font-weight: 700;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_description {
        margin-left: 15rem;
    }
}

@media (max-width: 768px) {
    .kt-error-v4-2 {
        background-position: center;
        background-color: white;
        background-size: 400px;
    }

    .kt-error-v4-2 .kt-error_container {
        text-align: center;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_number {
        font-size: 5rem;
        padding-bottom: 0px;
        margin: 4rem auto 0 auto;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_title {
        margin: 0.2rem auto;
        text-align: center;
        padding-bottom: 300px;
        padding-top: 0;
        font-size: 2rem;
    }

    .kt-error-v4-2 .kt-error_container .kt-error_description {
        margin-left: 0rem;
        margin-top: 10rem;
    }
}

/*UNDER CONSTRUCTION*/

.kt-error-v4-3 {
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 700px;
    background-image: url(/../media/error/UnderCons.jpg);
}

    .kt-error-v4-3 .kt-error_container .kt-error_number {
        font-size: 7rem;
        margin-left: 14.3rem;
        margin-top: 15.4rem;
        font-weight: 700;
        padding-bottom: 25px;
        color: #75a3e1;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_title {
        margin: -70px 0 0 14.3rem;
        font-size: 5rem;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 15px;
        color: #64c7da;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_description {
        margin-left: 15rem;
    }

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-error-v4-3 .kt-error_container .kt-error_number {
        font-size: 5rem;
        padding-bottom: 5px;
        margin-left: 7rem;
        margin-top: 8rem;
        font-weight: 700;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_title {
        margin: -40px 0 2% 7rem;
        font-size: 2rem;
        padding-bottom: 0px;
        font-weight: 700;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_description {
        margin-left: 15rem;
    }
}

@media (max-width: 768px) {
    .kt-error-v4-3 {
        background-position: center;
        background-color: white;
        background-size: 400px;
    }

    .kt-error-v4-3 .kt-error_container {
        text-align: center;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_number {
        font-size: 5rem;
        padding-bottom: 0px;
        margin: 4rem auto 0 auto;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_title {
        margin: 0.2rem auto;
        text-align: center;
        padding-bottom: 300px;
        padding-top: 0;
        font-size: 2rem;
    }

    .kt-error-v4-3 .kt-error_container .kt-error_description {
        margin-left: 0rem;
        margin-top: 10rem;
    }
}

