<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row" data-sticky-container>
            <div class="col-lg-4 order-lg-0 order-md-0 order-sm-0">
                <div class="kt-portlet">
                    <div class="owl-carousel owl-theme">
                        <div class="carousel">
                            <div class="kt-widget19 zoom">
                                <img class="kt-widget19__pic" style="height:auto" src="https://images.tokopedia.net/img/cache/700/VqbcmM/2021/7/8/16c57cf3-1dfd-41f8-8087-513e28af3f44.jpg" />
                            </div>
                        </div>
                        <div class="carousel">
                            <div class="kt-widget19 zoom">
                                <img class="kt-widget19__pic" style="height:auto" src="https://images.tokopedia.net/img/cache/700/VqbcmM/2021/7/8/1abaacfe-1611-496f-8e8b-976b3876a93b.jpg" />
                            </div>
                        </div>
                        <div class="carousel">
                            <div class="kt-widget19 zoom">
                                <img class="kt-widget19__pic" style="height:auto" src="https://images.tokopedia.net/img/cache/700/VqbcmM/2021/7/8/6c91c967-5263-45fe-88a9-21970e3c2aa3.png" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body" style="padding-top: 0">

                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-4">
                            <div class="kt-widget__body" style="margin-top: 10px">
                                <a href="#" class="kt-widget__item kt-widget__item--active">
                                    i3 1005G1 / 8GB / 512GB SSD
                                </a>
                                <a href="#" class="kt-widget__item">
                                    i3 1005G1 / 8GB / 512GB SSD
                                </a>
                                <a href="#" class="kt-widget__item">
                                    i3 1005G1 / 8GB / 512GB SSD
                                </a>
                                <a href="#" class="kt-widget__item">
                                    i3 1005G1 / 8GB / 512GB SSD
                                </a>
                            </div>
                        </div>

                        <!--end::Widget -->
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 order-lg-1 order-md-1 order-sm-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="kt-portlet" data-ktportlet="true" id="portlet_product">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Asus VivoBook S14
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="kt-widget6">
                                    <div class="kt-widget6__body">
                                        <div class="kt-widget6__item">
                                            <span>Condition</span>
                                            <span class="kt-font-brand kt-font-bold">
                                                <span class="btn btn-label-brand-o2 btn-sm btn-bold">Brand New</span>
                                            </span>
                                        </div>
                                        <div class="kt-widget6__item">
                                            <span>Screen Size</span>
                                            <span class="kt-font-brand kt-font-bold">14 Inch</span>
                                        </div>
                                        <div class="kt-widget6__item">
                                            <span>Processor</span>
                                            <span class="kt-font-brand kt-font-bold">i3 1005G1</span>
                                        </div>
                                        <div class="kt-widget6__item">
                                            <span>RAM</span>
                                            <span class="kt-font-brand kt-font-bold">8 GB</span>
                                        </div>
                                        <div class="kt-widget6__item">
                                            <span>Storage</span>
                                            <span class="kt-font-brand kt-font-bold">SSD 512 GB</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion accordion-solid accordion-panel accordion-toggle-svg" id="accordionDescription">
                            <div class="card">
                                <div class="card-header" id="headingDescription">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
                                        Description <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div id="description" class="collapse" aria-labelledby="headingDescription" data-parent="#accordionDescription">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion accordion-solid accordion-panel accordion-toggle-svg" id="accordionDescription">
                            <div class="card">
                                <div class="card-header" id="headingDescription">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
                                        Description <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div id="description" class="collapse" aria-labelledby="headingDescription" data-parent="#accordionDescription">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion accordion-solid accordion-panel accordion-toggle-svg" id="accordionDescription">
                            <div class="card">
                                <div class="card-header" id="headingDescription">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
                                        Description <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div id="description" class="collapse" aria-labelledby="headingDescription" data-parent="#accordionDescription">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion accordion-solid accordion-panel accordion-toggle-svg" id="accordionDescription">
                            <div class="card">
                                <div class="card-header" id="headingDescription">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
                                        Description <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div id="description" class="collapse" aria-labelledby="headingDescription" data-parent="#accordionDescription">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-2 order-md-2 order-sm-1">
                <div class="kt-portlet sticky" data-sticky="true" data-margin-top="145px" data-sticky-for="1080" data-sticky-class="kt-sticky" id="portlet-detail">
                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#" class="btn btn-brand btn-varian">6 Month</a>
                            </div>
                            <div class="col-lg-12">
                                <a href="#" class="btn btn-secondary btn-hover-brand btn-varian">12 Month</a>
                            </div>
                            <div class="col-lg-12">
                                <a href="#" class="btn btn-secondary btn-hover-brand btn-varian">18 Month</a>
                            </div>
                            <div class="col-lg-12">
                                <a href="#" class="btn btn-secondary btn-hover-brand btn-varian">24 Month</a>
                            </div>
                        </div>
                        <div class="kt-widget6">
                            <div class="kt-widget6__body">
                                <div class="kt-widget6__item">
                                    <span>Deposit</span>
                                    <span class="kt-font-brand kt-font-bold">Rp. 500.000</span>
                                </div>
                                <div class="kt-widget6__item">
                                    <span>Rental Price</span>
                                    <span class="kt-font-brand kt-font-bold">Rp. 500.000</span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget4" style="margin: 10px 0;">
                            <div class="kt-widget4__item">
                                <span class="kt-widget4__title">
                                    <button type="button" class="btn btn-outline-secondary btn-sm btn-circle btn-icon"><i class="fa fa-minus"></i></button>&nbsp;
                                    <button type="button" class="btn btn-outline-secondary btn-sm btn-circle btn-icon"><i class="fa fa-plus"></i></button>&nbsp;
                                    <span class="kt-font-bolder" style="margin-left:10px;">1</span> <span class="kt-font-bolder" style="margin-left:10px;">Unit</span>
                                </span>
                            </div>
                        </div>
                        <div class="kt-widget4" style="padding-top: 15px;">
                            <div class="kt-widget4__item">
                                <span class="kt-widget4__title">
                                    Subtotal
                                </span>
                                <span class="kt-widget4__number kt-font-xl kt-font-info kt-font-bolder" style="font-size: 14px">Rp. 500.000</span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-align-right">
                        <input type="submit" value="Add to Cart" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Style {
<style>
    .zoom {
        display: inline-block;
        position: relative;
        cursor: crosshair;
    }
</style>
}

@section Scripts {
    <script src="~/lib/vendors/zoom-js/zoom.js"></script>
    <script>
        var Dashboard = function () {
            var dashboardSlide = function () {

                $('.zoom').zoom();

                var carousel1 = $('.owl-carousel');

                carousel1.find('.carousel').each(function (index) {
                    $(this).attr('data-position', index);
                });

                carousel1.owlCarousel({
                    rtl: KTUtil.isRTL(),
                    center: true,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true,
                    smartSpeed: 450,
                    margin: 10,
                    loop: true,
                    items: 1
                });

                $('.owl-dots').css('margin-top', '20px');

                var width = ($(window).width());
                if (width >= 800) {
                    $('.kt-widget19__pic').height(420);
                }
                else {
                    $('.kt-widget19__pic').height(width);
                }

                $(window).resize(function () {
                    var width = ($(window).width());
                    if (width < 800) {
                        $('.kt-widget19__pic').height(width);
                    }
                    else {
                        $('.kt-widget19__pic').height(420);
                    }
                });
            }

            var stickyPanel = function () {
                var sticky = new Sticky('.sticky');

                KTLayout.onAsideToggle(function () {
                    setTimeout(function () {
                        sticky.update(); // update sticky positions on aside toggle
                    }, 500);
                });
            }

            return {
                init: function () {
                    dashboardSlide();
                    stickyPanel();
                },
            };

        }();

        jQuery(document).ready(function () {
            Dashboard.init();
        });
    </script>
}
