<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="kt-portlet">
            <div class="row">
                <div class="owl-carousel owl-theme col-lg-12">
                    <div class="carousel">
                        <a href="#" class="kt-widget19">
                            <div class="kt-widget19__pic" style="background-image: url(https://images.tokopedia.net/img/cache/1208/NsjrJu/2021/9/21/71b7ab54-e0ad-42aa-9334-d7f0f85c1e1a.jpg.webp?ect=3g)">
                                <h6 class="kt-widget19__title kt-font-light">
                                    Introducing New Feature
                                </h6>
                                <div class="kt-widget19__labels">
                                    <span class="btn btn-light-o2 btn-bold">New</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel">
                        <a href="#" class="kt-widget19">
                            <div class="kt-widget19__pic" style="background-image: url(https://images.tokopedia.net/img/cache/1208/NsjrJu/2021/9/21/235f6e84-b643-4bbb-bcc0-1266f9c5622f.jpg.webp?ect=3g)">
                                <h6 class="kt-widget19__title kt-font-light">
                                    Introducing New Feature
                                </h6>
                                <div class="kt-widget19__labels">
                                    <span class="btn btn-light-o2 btn-bold">New</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel">
                        <a href="#" class="kt-widget19">
                            <div class="kt-widget19__pic" style="background-image: url(https://images.tokopedia.net/img/cache/1208/NsjrJu/2021/9/21/415a0035-c14b-47c9-8f1e-948ca82da6d1.jpg.webp?ect=3g)">
                                <h6 class="kt-widget19__title kt-font-light">
                                    Introducing New Feature
                                </h6>
                                <div class="kt-widget19__labels">
                                    <span class="btn btn-light-o2 btn-bold">New</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__body home-icon">
                        <div class="kt-widget kt-widget--user-profile-3 home-icon">
                            <div class="kt-widget__top">
                                <div class="kt-widget__media kt-hidden-">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1573/1573307.png" alt="image">
                                </div>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <span class="kt-widget__title">Nexa - Next generation SAAS</span>
                                    </div>
                                    <div class="kt-widget__info">
                                        <p class="kt-widget__desc">
                                            I distinguish three main text objektive.First, your could
                                            be merely to inform people a second could be persuade people.
                                            You want people to bay your products
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__body home-icon">
                        <div class="kt-widget kt-widget--user-profile-3 home-icon">
                            <div class="kt-widget__top">
                                <div class="kt-widget__media kt-hidden-">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1573/1573307.png" alt="image">
                                </div>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <span class="kt-widget__title">Nexa - Next generation SAAS</span>
                                    </div>
                                    <div class="kt-widget__info">
                                        <p class="kt-widget__desc">
                                            I distinguish three main text objektive.First, your could
                                            be merely to inform people a second could be persuade people.
                                            You want people to bay your products
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__body home-icon">
                        <div class="kt-widget kt-widget--user-profile-3 home-icon">
                            <div class="kt-widget__top">
                                <div class="kt-widget__media kt-hidden-">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1573/1573307.png" alt="image">
                                </div>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <span class="kt-widget__title">Nexa - Next generation SAAS</span>
                                    </div>
                                    <div class="kt-widget__info">
                                        <p class="kt-widget__desc">
                                            I distinguish three main text objektive.First, your could
                                            be merely to inform people a second could be persuade people.
                                            You want people to bay your products
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__body home-icon">
                        <div class="kt-widget kt-widget--user-profile-3 home-icon">
                            <div class="kt-widget__top">
                                <div class="kt-widget__media kt-hidden-">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1573/1573307.png" alt="image">
                                </div>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <span class="kt-widget__title">Nexa - Next generation SAAS</span>
                                    </div>
                                    <div class="kt-widget__info">
                                        <p class="kt-widget__desc">
                                            I distinguish three main text objektive.First, your could
                                            be merely to inform people a second could be persuade people.
                                            You want people to bay your products
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-full-width">
    <div class="kt-pricing-2">
        <div class="kt-pricing-2__head">
            <div class="kt-pricing-2__title kt-font-light">
                <h1>Pilih Sewa atau Beli?</h1>
            </div>
            <div class="btn-group nav btn-group btn-group-pill btn-group-air" role="group">
                <button type="button" class="btn active btn-wide btn-uppercase btn-bolder" data-toggle="tab" href="#kt-pricing-2_content1" role="tab" aria-expanded="true">
                    Sewa dong
                </button>
                <button type="button" class="btn btn-wide btn-uppercase btn-bolder" data-toggle="tab" href="#kt-pricing-2_content2" role="tab" aria-expanded="false">
                    Yakin mau Beli?
                </button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="kt-pricing-2_content1" aria-expanded="true">
                <div class="kt-pricing-2__content">
                    <div class="kt-pricing-2__container">
                        <div class="kt-pricing-2__items row">
                            <div class="kt-pricing-2__item col-lg-4">
                                <div class="kt-pricing-2__visual">
                                    <div class="kt-pricing-2__hexagon"></div>
                                    <span class="kt-pricing-2__icon kt-font-instagram"><i class="fa flaticon-confetti"></i></span>
                                </div>
                                <h2 class="kt-pricing-2__subtitle">Basic Plan</h2>
                                <div class="kt-pricing-2__features">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                                </div>
                            </div>
                            <div class="kt-pricing-2__item col-lg-4">
                                <div class="kt-pricing-2__visual">
                                    <div class="kt-pricing-2__hexagon"></div>
                                    <span class="kt-pricing-2__icon kt-font-instagram"><i class="fa  flaticon-rocket"></i></span>
                                </div>
                                <h2 class="kt-pricing-2__subtitle">For Business</h2>
                                <div class="kt-pricing-2__features">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                                </div>
                            </div>
                            <div class="kt-pricing-2__item col-lg-4">
                                <div class="kt-pricing-2__visual">
                                    <div class="kt-pricing-2__hexagon"></div>
                                    <span class="kt-pricing-2__icon kt-font-instagram"><i class="fa flaticon-gift"></i></span>
                                </div>
                                <h2 class="kt-pricing-2__subtitle">Enterprice</h2>
                                <div class="kt-pricing-2__features">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="kt-pricing-2_content2" aria-expanded="false">
                <div class="kt-pricing-2__content">
                    <div class="kt-pricing-2__container">
                        <div class="kt-pricing-2__items row">
                            <div class="kt-pricing-2__item col-lg-4">
                                <div class="kt-pricing-2__visual">
                                    <div class="kt-pricing-2__hexagon"></div>
                                    <span class="kt-pricing-2__icon kt-font-instagram"><i class="fa flaticon-open-box"></i></span>
                                </div>
                                <h2 class="kt-pricing-2__subtitle">Basic Plan</h2>
                                <div class="kt-pricing-2__features">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                                </div>
                            </div>
                            <div class="kt-pricing-2__item col-lg-4">
                                <div class="kt-pricing-2__visual">
                                    <div class="kt-pricing-2__hexagon"></div>
                                    <span class="kt-pricing-2__icon kt-font-instagram"><i class="fa flaticon-internet"></i></span>
                                </div>
                                <h2 class="kt-pricing-2__subtitle">For Business</h2>
                                <div class="kt-pricing-2__features">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                                </div>
                            </div>
                            <div class="kt-pricing-2__item col-lg-4">
                                <div class="kt-pricing-2__visual">
                                    <div class="kt-pricing-2__hexagon"></div>
                                    <span class="kt-pricing-2__icon kt-font-instagram"><i class="fa flaticon-coins"></i></span>
                                </div>
                                <h2 class="kt-pricing-2__subtitle">Enterprice</h2>
                                <div class="kt-pricing-2__features">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Style {
    <link href="~/css/pages/pricing.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        var Dashboard = function () {
            var dashboardSlide = function () {

                $('body').css('background', '#fff');

                var carousel1 = $('.owl-carousel');

                carousel1.find('.carousel').each(function (index) {
                    $(this).attr('data-position', index);
                });

                carousel1.owlCarousel({
                    rtl: KTUtil.isRTL(),
                    center: true,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true,
                    smartSpeed: 450,
                    margin: 10,
                    loop: true,
                    items: 1
                });

                $('.owl-dots').css('position', 'absolute').css('bottom', '10px').css('right', '20px');

                var height = ($(window).width() / 5.2);
                $('.kt-widget19__pic').height(height).css('border-radius', '10px');

                $(window).resize(function () {
                    var height = ($(window).width() / 5.2);
                    $('.kt-widget19__pic').height(height);
                });
            }

            return {
                init: function () {
                    dashboardSlide();
                },
            };

        }();

        jQuery(document).ready(function () {
            Dashboard.init();
        });
    </script>
}