@model SIP.Models.PPenerangan

@{
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form id="sptpd" asp-action="SPTPD"></form>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <input type="hidden" asp-for="IdSptpd" form="sptpd" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @await Component.InvokeAsync("FormSPTPD", new { id = Model.IdSptpd })
                <div class="row kt-margin-t-10 kt-padding-b-0">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Data Pendukung</label>
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input asp-for="Rekap" form="sptpd" /> Rekaptulasi Penggunaan Listrik
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--space-sm"></div>
                <div class="row kt-margin-t-10">
                    <div class="col-lg-12">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <input type="hidden" asp-for="IdPenerangan" form="sptpd" />
                                <div class="row">
                                    <div class="col-lg-3 form-group">
                                        <label asp-for="Bulan" class="control-label required"></label>
                                        <select asp-for="Bulan" class="form-control kt-selectpicker" title="Pilih Bulan..." asp-items="ViewBag.Bulan" form="sptpd" required data-size="5"></select>
                                        <span asp-validation-for="Bulan" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label asp-for="Tagihan" class="control-label required">Jumlah Tagihan</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                            <input asp-for="Tagihan" class="form-control rupiah" value="@String.Format("{0:N0}", Model.Tagihan)" autocomplete="off" form="sptpd" required />
                                        </div>
                                        <span asp-validation-for="Tagihan" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label asp-for="JumlahKwh" class="control-label required">Jumlah Kwh</label>
                                        <div class="input-group">
                                            <input asp-for="JumlahKwh" class="form-control" required autocomplete="off" form="sptpd" />
                                            <div class="input-group-append"><span class="input-group-text"><i class="la la-plug"></i></span></div>
                                        </div>
                                        <span asp-validation-for="JumlahKwh" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label asp-for="TarifListrik" class="control-label required">Tarif Listrik</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                            <input asp-for="TarifListrik" class="form-control rupiah" value="@String.Format("{0:N0}", Model.TarifListrik ?? ViewBag.HargaKwh)" autocomplete="off" form="sptpd" required />
                                        </div>
                                        <span asp-validation-for="TarifListrik" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a href="/SPTPD/@Model.IdSptpd" class="btn btn-secondary">Kembali</a>
                    <button type="submit" class="btn btn-primary" form="sptpd">Simpan</button>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section Scripts {
    <script src="~/js/spt.js"></script>
    <script src="~/js/rupiah.mask.js"></script>
    <script>
        function rupiah(a, currency) {
            return currency + a.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        }

        $('select[name=Bulan]').val("@ViewBag.Selected");
        $('#Bulan').selectpicker('refresh');

    </script>
}
