<!--begin: Head -->
<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(../../media/misc/bg-1.jpg)">
    <div class="kt-user-card__avatar">
        <!--<img class="kt-hidden" alt="Pic" src="~/Assets/media/users/300_25.jpg" />-->
        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-inverse-success">@(Context.Session.GetString("Nama") != null ? Context.Session.GetString("Nama").Substring(0,1).ToUpper() : "A")</span>
    </div>
    <div class="kt-user-card__name"> @Context.Session.GetString("Nama") </div>
    @*<div class="kt-user-card__badge"> <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span> </div>*@
</div>
<!--end: Head -->
<!--begin: Navigation -->
<div class="kt-notification">
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="kt-notification__item">
        <div class="kt-notification__item-icon"> <i class="flaticon2-calendar-3 kt-font-success"></i> </div>
        <div class="kt-notification__item-details">
            <div class="kt-notification__item-title kt-font-bold"> My Profile </div>
            <div class="kt-notification__item-time"> Account settings </div>
        </div>
    </a>
    <div class="kt-notification__custom kt-space-between">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="btn btn-label btn-label-danger btn-sm btn-bold">Logout</button>
        </form>
    </div>
</div>
<!--end: Navigation -->