@model SIP.Models.DataUsaha

@{
    ViewBag.Title = "Tambah Data Usaha";
    ViewBag.SubHeaderTitle = "Data Usaha";
    ViewBag.S1 = "Tambah Data";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form asp-action="Create">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <input type="hidden" asp-for="Status" value="true" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="IdJenis" class="control-label">Jenis</label>
                            <select asp-for="IdJenis" title="Pilih Jenis Usaha..." class="form-control kt-selectpicker" asp-items="ViewBag.IdJenis" required ></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label asp-for="NamaUsaha" class="control-label required">Nama Usaha</label>
                            <input asp-for="NamaUsaha" class="form-control" required />
                            <span asp-validation-for="NamaUsaha" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 form-group">
                            <label asp-for="AlamatUsaha" class="control-label required">Alamat Usaha</label>
                            <input asp-for="AlamatUsaha" class="form-control" required />
                            <span asp-validation-for="AlamatUsaha" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="Rtrw" class="control-label required">RT/RW</label>
                            <input asp-for="Rtrw" class="form-control" required />
                            <span asp-validation-for="Rtrw" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label asp-for="IndKecamatanId" class="control-label required">Kecamatan/Distrik</label>
                            <select asp-for="IndKecamatanId" data-size="6" title="Pilih Kecamatan..." data-live-search="true" required asp-items="ViewBag.IndKecamatanId" class="form-control kt-selectpicker">
                            </select>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label asp-for="IndKelurahanId" class="control-label required">Kelurahan/Desa</label>
                            <select asp-for="IndKelurahanId" data-size="6" data-live-search="true" required class="form-control kt-selectpicker">
                                <option hidden>Pilih Kelurahan...</option>
                            </select>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label asp-for="KodePos" class="control-label">Kode Pos</label>
                            <input asp-for="KodePos" class="form-control" />
                            <span asp-validation-for="KodePos" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="NoTelp" class="control-label">Nomor Tlp</label>
                            <input asp-for="NoTelp" class="form-control" />
                            <span asp-validation-for="NoTelp" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-controller="Pendaftaran" asp-action="DataUsaha" asp-route-id="@ViewBag.IdSubjek" class="btn btn-secondary">Kembali</a>
                        <input type="submit" value="Simpan" class="btn btn-success" />
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/js/wilayah-partial.js"></script>
    <script>
        var Inputmask = {
            init: function () {
                $("#Rtrw").inputmask({
                    mask: "99/99",
                    placeholder: ""
                }), $("#KodePos").inputmask({
                    mask: "99999",
                    placeholder: ""
                }), $("#NoTelp").inputmask({
                    mask: "999999999999",
                    placeholder: ""
                })
            }
        };
        jQuery(document).ready(function () {
            Inputmask.init()
        });

        $("#IndKelurahanId").prop('disabled', true);
    </script>
}
