<div class="modal-body kt-callout kt-callout--diagonal-bg">
    <div class="kt-callout__body">
        <div class="kt-callout__content">
            <h3 class="kt-callout__title">Denied Access!</h3>
            <p class="kt-callout__desc">
                Anda tidak memiliki hak akses untuk melakukan tindakan ini
            </p>
        </div>
        <div class="kt-callout__action">
            <button type="button" class="btn btn-custom btn-bold btn-upper btn-font-sm btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>