@{
    Layout = "_Layout-error";
}

<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error" style="background-image: url(/media/error/notfound.jpg);">
        <div class="kt-error_container">
            <img src="~/media/logos/nuna-logo-white.png" width="120" />
            <div class="kt-error_subtitle kt-font-light">
                <h1>Oops...</h1>
            </div>
            <p class="kt-error_description kt-font-light">
                Halaman tidak dapat ditemukan
            </p>
        </div>
    </div>
</div>