@media print {
    .space {
        margin: 0 0;
    }

    .report {
        width: 242mm;
    }

    .sub-report {
        width: 225mm;
    }
}

@Page {
    size:210mm 330mm;
    margin: 0 1cm 0 1cm;
}