@model SIP.Models.Sspd

@{
    ViewBag.Title = "Edit SSPD";
    ViewBag.SubHeaderTitle = "SSPD";
    ViewBag.S1 = "Edit Data";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

    <div class="row justify-content-center">
        @if (Model.IdSptpd != null)
        {
            <div class="col-lg-3">
                @await Component.InvokeAsync("DetailSptpd", new { id = Model.IdSptpd })
            </div>
        }
        else if (Model.IdSkpd != null)
        {
            <div class="col-lg-3">
                @await Component.InvokeAsync("DetailSkpd", new { id = Model.IdSkpd })
            </div>
        }
        else if (Model.IdSkpdkb != null)
        {
            <div class="col-lg-3">
                @await Component.InvokeAsync("DetailSkpdkb", new { id = Model.IdSkpdkb })
            </div>
        }
        else if (Model.IdSkpdkbt != null)
        {
            <div class="col-lg-3">
                @await Component.InvokeAsync("DetailSkpdkbt", new { id = Model.IdSkpdkbt })
            </div>
        }
        else if (Model.IdStpd != null)
        {
            <div class="col-lg-3">
                @await Component.InvokeAsync("DetailStpd", new { id = Model.IdStpd })
            </div>
        }
        <div class="col-lg-7">
            <form asp-action="Edit">
                <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <input type="hidden" asp-for="IdSspd" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label asp-for="Tanggal" class="control-label required"></label>
                                <input asp-for="Tanggal" class="form-control datefield" type="text" asp-format="{0:dd-MM-yyyy}" autocomplete="off" required />
                                <span asp-validation-for="Tanggal" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="IdSetoran" class="control-label">Jenis</label>
                                <select asp-for="IdSetoran" class="form-control kt-selectpicker" title="Pilih Jenis Setoran..." required asp-items="ViewBag.IdSetoran"></select>
                                <span asp-validation-for="IdSetoran" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-align-right">
                            <a href="/SSPD/@Model.IdUsaha" class="btn btn-secondary">Kembali</a>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
