@model SIP.Models.RefPekerjaan

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Data Referensi Pekerjaan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Pekerjaan" class="control-label"></label>
                <input asp-for="Pekerjaan" class="form-control" required autofocus/>
                <span asp-validation-for="Pekerjaan" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>