@model SIP.Models.Lspop

@{
    ViewBag.Title = "Edit LSPOP";
    ViewBag.SubHeaderTitle = "LSPOP - PBB";
    ViewBag.S1 = "Edit Data";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form asp-action="Edit">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="kt-portlet" data-ktportlet="true" id="lspop">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.SubHeaderTitle
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <input type="hidden" asp-for="IdLspop" />
                    <input type="hidden" asp-for="IdSpop" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="IdJenis" class="control-label required">Jenis Bangunan</label>
                            <select asp-for="IdJenis" class="form-control kt-selectpicker" title="Pilih Jenis..." required asp-items="ViewBag.IdJenis" data-size="4" data-live-search="true"></select>
                            <span asp-validation-for="IdJenis" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label asp-for="Luas" class="control-label required">Luas Bangunan</label>
                            <div class="input-group">
                                <input asp-for="Luas" class="form-control" autocomplete="off" required />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">M<sup>2</sup></i></span></div>
                            </div>
                            <span asp-validation-for="Luas" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="JumlahLantai" class="control-label required">Jumlah Lantai</label>
                            <input asp-for="JumlahLantai" class="form-control" required autocomplete="off" min="0" />
                            <span asp-validation-for="JumlahLantai" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="DayaListrik" class="control-label">Daya Listrik</label>
                            <div class="input-group">
                                <input asp-for="DayaListrik" class="form-control" autocomplete="off" min="0" />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">Kwh</i></span></div>
                            </div>
                            <span asp-validation-for="DayaListrik" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label asp-for="TahunBangun" class="control-label">Tahun Di Bangun</label>
                            <input asp-for="TahunBangun" class="form-control datefield" type="text" asp-format="{0:yyyy}" autocomplete="off" />
                            <span asp-validation-for="TahunBangun" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="TahunRenov" class="control-label">Tahun Di Renovasi</label>
                            <input asp-for="TahunRenov" class="form-control datefield" type="text" asp-format="{0:yyyy}" autocomplete="off" />
                            <span asp-validation-for="TahunRenov" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="Kondisi" class="control-label">Kondisi Bangunan</label>
                            <select asp-for="Kondisi" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Kondisi"></select>
                            <span asp-validation-for="Kondisi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Konstruksi" class="control-label">Konstruksi Bangunann</label>
                            <select asp-for="Konstruksi" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Konstruksi"></select>
                            <span asp-validation-for="Konstruksi" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="Atap" class="control-label">Atap</label>
                            <select asp-for="Atap" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Atap"></select>
                            <span asp-validation-for="Atap" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="Dinding" class="control-label">Dinding</label>
                            <select asp-for="Dinding" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Dinding"></select>
                            <span asp-validation-for="Dinding" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Lantai" class="control-label">Lantai</label>
                            <select asp-for="Lantai" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Lantai"></select>
                            <span asp-validation-for="Lantai" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="Langit2" class="control-label">Langit-langit</label>
                            <select asp-for="Langit2" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Langit2"></select>
                            <span asp-validation-for="Langit2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Njop" class="control-label required"></label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                <input asp-for="Njop" class="form-control rupiah" autocomplete="off" required value="@String.Format("{0:N0}", Model.Njop)" />
                            </div>
                            <span asp-validation-for="Njop" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="Zona" class="control-label required"></label>
                            <input asp-for="Zona" class="form-control" required />
                            <span asp-validation-for="Zona" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--collapsed" data-ktportlet="true" id="data_tambahan">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Data Tambahan
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <label class="col-md-2 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Jumlah AC:</label>
                        <div class="col-md-2 form-group">
                            <label asp-for="AcSealing" class="control-label"></label>
                            <input asp-for="AcSealing" min="0" class="form-control" />
                            <span asp-validation-for="AcSealing" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="AcSplit" class="control-label"></label>
                            <input asp-for="AcSplit" min="0" class="form-control" />
                            <span asp-validation-for="AcSplit" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="AcWindow" class="control-label"></label>
                            <input asp-for="AcWindow" min="0" class="form-control" />
                            <span asp-validation-for="AcWindow" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input asp-for="AcSentral" /> AC Sentral
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Kolam Renang:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="KolamLuas" class="control-label">Luas</label>
                            <div class="input-group">
                                <input asp-for="KolamLuas" class="form-control" min="0" />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">M</i><sup>2</sup></span></div>
                            </div>
                            <span asp-validation-for="KolamLuas" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="KolamJenis" class="control-label">Jenis</label>
                            <select asp-for="KolamJenis" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Kolam_Jenis"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Lapangan Tenis:</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Aspal:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganAspal1" class="control-label">Dengan Lampu</label>
                            <input asp-for="LapanganAspal1" min="0" class="form-control" />
                            <span asp-validation-for="LapanganAspal1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganAspal2" class="control-label">Tanpa Lampu</label>
                            <input asp-for="LapanganAspal2" min="0" class="form-control" />
                            <span asp-validation-for="LapanganAspal2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Beton:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganBeton1" class="control-label">Dengan Lampu </label>
                            <input asp-for="LapanganBeton1" min="0" class="form-control" />
                            <span asp-validation-for="LapanganBeton1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganBeton2" class="control-label">Tanpa Lampu</label>
                            <input asp-for="LapanganBeton2" min="0" class="form-control" />
                            <span asp-validation-for="LapanganBeton2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Tanah Liat/Rumput:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganTanah1" class="control-label">Dengan Lampu</label>
                            <input asp-for="LapanganTanah1" min="0" class="form-control" />
                            <span asp-validation-for="LapanganTanah1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganTanah2" class="control-label">Tanpa Lampu</label>
                            <input asp-for="LapanganTanah2" min="0" class="form-control" />
                            <span asp-validation-for="LapanganTanah2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Pagar:</label>
                        <div class="col-md-4 form-group">
                            <label asp-for="PagarPanjang" class="control-label">Panjang</label>
                            <div class="input-group">
                                <input asp-for="PagarPanjang" class="form-control" autocomplete="off" min="0" />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">M</i></span></div>
                            </div>
                            <span asp-validation-for="PagarPanjang" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="PagarJenis" class="control-label">Jenis</label>
                            <select asp-for="PagarJenis" class="form-control kt-selectpicker" title="Pilih Data..." asp-items="ViewBag.Pagar_Jenis"></select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Pengerasan Halaman:</label>
                        <div class="col-md-2 form-group">
                            <label asp-for="HalamanRingan" class="control-label">Ringan</label>
                            <input asp-for="HalamanRingan" min="0" class="form-control" />
                            <span asp-validation-for="HalamanRingan" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="HalamanSedang" class="control-label">Sedang</label>
                            <input asp-for="HalamanSedang" min="0" class="form-control" />
                            <span asp-validation-for="HalamanSedang" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="HalamanBerat" class="control-label">Berat</label>
                            <input asp-for="HalamanBerat" min="0" class="form-control" />
                            <span asp-validation-for="HalamanBerat" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="HalamanLantai" class="control-label">Dengan Lantai</label>
                            <input asp-for="HalamanLantai" min="0" class="form-control" />
                            <span asp-validation-for="HalamanLantai" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Jumlah Lift:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LiftPenumpang" class="control-label"></label>
                            <input asp-for="LiftPenumpang" min="0" class="form-control" />
                            <span asp-validation-for="LiftPenumpang" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LiftKapsul" class="control-label"></label>
                            <input asp-for="LiftKapsul" min="0" class="form-control" />
                            <span asp-validation-for="LiftKapsul" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LiftBarang" class="control-label"></label>
                            <input asp-for="LiftBarang" min="0" class="form-control" />
                            <span asp-validation-for="LiftBarang" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Jumlah Tangga Berjalan:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="Eskalator1" class="control-label">Lebar < 0,8 M</label>
                            <input asp-for="Eskalator1" min="0" class="form-control" />
                            <span asp-validation-for="Eskalator1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="Eskalator2" class="control-label">Lebar > 0,8 M</label>
                            <input asp-for="Eskalator2" min="0" class="form-control" />
                            <span asp-validation-for="Eskalator2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label asp-for="PabxJumlah" class="control-label">Jumlah Pabx</label>
                            <input asp-for="PabxJumlah" min="0" class="form-control" />
                            <span asp-validation-for="PabxJumlah" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="ArtesisKedalaman" class="control-label">Kedalaman Sumur Artesis:</label>
                            <input asp-for="ArtesisKedalaman" min="0" class="form-control" />
                            <span asp-validation-for="ArtesisKedalaman" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Pemadam Kebakaran</label>
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input asp-for="Hydrant" /> Hydrant
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox">
                                        <input asp-for="Sprinkle" /> Sprinkle
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox">
                                        <input asp-for="FireAlarm" /> Fire Alarm
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="LSPOP" asp-controller="PBB" asp-route-id="@Model.IdSpop" class="btn btn-secondary">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/js/rupiah.mask.js"></script>
    <script>

        $(".datefield").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });

    </script>
}