@model SIP.Models.Spop

@{
    ViewBag.Title = "Tambah Data SPOP";
    ViewBag.SubHeaderTitle = "SPOP";
    ViewBag.S1 = "Tambah Data";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form asp-action="Create">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="NoFormulir" class="control-label required">Nomor Formulir</label>
                            <input asp-for="NoFormulir" class="form-control" type="text" autocomplete="off" required />
                            <span asp-validation-for="NoFormulir" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-4 form-group">
                            <label asp-for="NamaJalan" class="control-label required">Nama Jalan</label>
                            <input asp-for="NamaJalan" class="form-control" required />
                            <span asp-validation-for="NamaJalan" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="BlokKavNo" class="control-label required">Blok/Kav/No</label>
                            <input asp-for="BlokKavNo" class="form-control" required />
                            <span asp-validation-for="BlokKavNo" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 col-sm-4 form-group">
                            <label asp-for="Rt" class="control-label required"></label>
                            <input asp-for="Rt" pattern=".{2,}" class="form-control" required />
                            <span asp-validation-for="Rt" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 col-sm-4 form-group">
                            <label asp-for="Rw" class="control-label required"></label>
                            <input asp-for="Rw" pattern=".{2,}" class="form-control" required />
                            <span asp-validation-for="Rw" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="IndKecamatanId" class="control-label required">Kecamatan/Distrik</label>
                            <select asp-for="IndKecamatanId" data-size="6" title="Pilih Kecamatan..." data-live-search="true" required asp-items="ViewBag.IndKecamatanId" class="form-control kt-selectpicker">
                            </select>
                            <span asp-validation-for="IndKecamatanId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="IndKelurahanId" class="control-label required">Kelurahan/Desa</label>
                            <select asp-for="IndKelurahanId" data-size="6" data-live-search="true" required class="form-control kt-selectpicker">
                                <option hidden>Pilih Kelurahan...</option>
                            </select>
                            <span asp-validation-for="IndKelurahanId" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 col-sm-4 form-group">
                            <label asp-for="KodePos" class="control-label">Kode Pos</label>
                            <input asp-for="KodePos" class="form-control" />
                            <span asp-validation-for="KodePos" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 form-group">
                            <label asp-for="LuasTanah" class="control-label required">Luas Tanah</label>
                            <div class="input-group">
                                <input asp-for="LuasTanah" class="form-control" required />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">M<sup>2</sup></i></span></div>
                            </div>
                            <span asp-validation-for="LuasTanah" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label asp-for="JumlahBangunan" class="control-label required">Jumlah Bangunan</label>
                            <input asp-for="JumlahBangunan" min="0" class="form-control" required />
                            <span asp-validation-for="JumlahBangunan" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="JenisTanah" class="control-label required">Jenis Tanah</label>
                            <select asp-for="JenisTanah" data-size="6" title="Pilih Jenis Tanah..." required asp-items="ViewBag.JenisTanah" class="form-control kt-selectpicker"></select>
                            <span asp-validation-for="JenisTanah" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Njop" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                <input asp-for="Njop" class="form-control rupiah" required />
                            </div>
                            <span asp-validation-for="Njop" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label asp-for="Zona" class="control-label"></label>
                            <input asp-for="Zona" class="form-control" required />
                            <span asp-validation-for="Zona" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="SPOP" asp-controller="PBB" asp-route-id="@ViewBag.IdSubjek" class="btn btn-secondary">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/js/rupiah.mask.js"></script>
    <script src="~/js/wilayah-partial.js"></script>
    <script>
        var Inputmask = {
            init: function () {
                $("#Rt").inputmask({
                    mask: "99",
                    placeholder: ""
                }), $("#KodePos").inputmask({
                    mask: "999999",
                    placeholder: ""
                }), $("#Rw").inputmask({
                    mask: "99",
                    placeholder: ""
                })
            }
        };
        jQuery(document).ready(function () {
            Inputmask.init()
        });

    </script>
}