@model SIP.Models.RefHargaPasar

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Tambah Data Harga Pasar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="FlagAktif" value="true" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="IdCoa" class="control-label"> Jenis</label>
                <select asp-for="IdCoa" class="form-control kt-selectpicker" required title="Pilih Jenis Mineral..." data-live-search="true" asp-items="ViewBag.IdCoa"></select>
                <span asp-validation-for="IdCoa" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Harga" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                    <input asp-for="Harga" class="form-control rupiah" autocomplete="off" required />
                </div>
                <span asp-validation-for="Harga" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Simpan" class="btn btn-success" />
    </div>
</form>